.hidden {
    display: none;
    font-size: 30px;
}

img {
    width: 100%;
}


#greeting {
    margin-right: 15px;
}

#greeting-logout {
    display: flex;
    align-items: center;
}

#logout-form button {
    display: flex;
}

.bgImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    animation: fadeIn 0.5s linear;
}

body {
    background-color: ivory;
    color: white;
}

h2 {
    font-size: 80px;
    display: flex;
    /* justify-content: center; */
}

input {
    background-color: transparent;
    color: white;
    border: none;
    border-bottom: 1px solid white;
    width: 400px;
    height: 50px;
    text-align: center;
    justify-content: center;
    font-size: 30px;
}

input::placeholder {
    font-size: 30px;
    text-align: center;
}

#todo-form {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.js-weather {
    display: flex;
    justify-content: center;
}

#quote, #linkNomad {
    /* 자식 요소(.child)를 중앙 정렬하기 */
    display: flex;
    justify-content: center;
}

a {
    text-decoration-line: none;
    color:white;
}

a:hover {
    text-decoration-line: none;
    color:tomato;
}

input:focus {
    outline: none;
}

button {
    background-color: transparent;
    border: 0;
    outline: 0;
    font-size: 30px;
    color:white;
}

li {
    display: flex;
    justify-content: center;
    font-size: 30px;
}